<!DOCTYPE html>
<html>
<head>
	<title>分期服务协议</title>
	<meta charset="UTF-8"></meta>
	<meta name="format-detection" content="telephone=no"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.5, minimum-scale=1.0, user-scalable=yes"></meta>
<style>
body{
	font-size: 12px;
	font-family: microsoft yahei, trebuchet ms, tahoma, sans-serif;
	margin: 0 15px;
	color: #333;
}
.hp{
	overflow: hidden;
}
h1{
	text-align: center;
	font-size: 1.8em;
	margin: 1.5em 0 .8em;
}
h2,h3{
	font-size: 1.17em;
	margin: 1em 0 .35em;
}
h1,h2,h3{
	color: #000;
}
p{
	margin: 2px 0;
	line-height: 1.5em;
	text-align: justify;
}
img{
	display: inline-block;
	max-width: 100%;
}
p label{
	float: left;
	display: inline-block;
	width: 50px;
}
.img-wrapper{
	margin-left: 60px;
	display: block;
}
.img-list-wrapper{
	overflow: hidden;
}
.img-list-wrapper img{
	width: 100px;
	float: left;
	display: inline-block;
}
.img-list-wrapper img{
	margin: 0 5px 5px 0;
}
.fl{
	float: left;
}
label.lg{
	width: 135px;
}
label.md{
	margin-left: 5px;
	width: 120px;
}
label.md2{
	margin-left: 5px;
	width: 100px;
}
.black{
	font-weight: bold;
}
.underline{
	text-decoration: underline;
}
.indent{
	text-indent: 2em;
}
.paddingLeft4{
	padding-left: 4em;
}
.title-terms{
	font-size: 1.5em;
  margin: 2em 0 .8em;
}
.remarks{
	margin: 10px 0;
}
.remarks strong{
	font-size: 1.2em;
}
table{
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 4px;
}
table td{
	border: 1px solid #ccc;
}
table th,
table td{
	line-height: 22px;
	text-align: left;
}
</style>
</head>
<body>

	<h1>分期服务协议</h1>
	<h2><p style="text-align: right">编号：${contractNumber}</p></h2>
	<p>本分期服务协议（以下简称“本协议”）由以下双方于${signDate}签订：</p>
	<h2><p><label class="md2">甲方（借款人）</label>：${renterRealName}</p></h2>
	<p><label class="md2">身份证号码</label>：${certno}</p>
	<p><label class="md2">联系电话</label>：${mobile}</p>
	<p><label class="md2">地　　址</label>：${address}</p>
	<h2><p><label class="md2">乙方（出借人）</label>：上海聚泛信息科技有限公司</p></h2>
	<p><label class="md2">地　　址</label>：上海市宝山区沪太路9088号3号楼A-1071</p>
	<br></br>
	<p>本协议项下，甲方和乙方单独称为“<span class="black">一方</span>”，合称为“<span class="black">各方</span>”。</p>
	<br></br>
	<p class="black underline indent">特别提示：借款人签订本协议前请阅读本协议项下全部条款（特别是以粗体标注的内容）。借款人通过网络页面点击确认或以其他方式选择接受本协议，即表示借款人已理解并同意本协议的全部内容。如果借款人不同意本协议的任何内容，或者无法准确理解本协议的任何条款，请不要进行后续操作。</p>
	<br></br>
	<p class="black">鉴于，</p>
	<br></br>
	<p class="indent">1.	甲方通过www.mogoroom.com及其手机APP应用（以下简称“合作平台”）于${signDate}签署《房屋租赁合同》（编号：${signedOrderId}）（以下简称“租赁合同”），约定甲方向租赁合同项下房东支付租金为人民币${applyamt}/月，服务费为人民币【】元/月（如有），租期为${period}。</p>
	<p class="indent">2.	为履行甲方在租赁合同项下的租金与服务费（如有）支付义务，甲方拟向乙方申请分期服务；</p>
	<p class="indent">3.	甲方的分期服务申请经乙方资信审核通过后，乙方愿意向甲方提供分期服务。</p>
	<p class="indent">据此，就乙方向甲方提供分期服务事宜，双方根据平等、自愿的原则，达成本协议如下：</p>
	<h2>一.	定义</h2>
	<p class="indent">1.	分期服务：指甲方申请的、乙方经审核通过后提供的，乙方代甲方向租赁合同项下出租人或转租权人支付应付租金与服务费（如有），而甲方分期向乙方偿还垫付款项的服务。其中应向出租人或转租权人垫付的应付租金与服务费（如有）由合作平台公司代收。</p>
	<p class="indent">2.	垫付款项：指乙方根据本协议的条款及条件代甲方向租赁合同项下出租人或转租权人应支付的款项，金额为甲方在租赁合同项下应付的${applyPeriod}个月的房屋租金与服务费（如有），双方另有约定的除外。</p>
	<p class="indent">3.	分期手续费：指乙方向甲方提供分期服务而向甲方收取的手续费。</p>
	<p class="indent">4.	甲方指定账户：指甲方向乙方提供的以甲方名义开立的并作为本协议项下唯一还款账户的银行账户。</p>
	<p class="indent">5.	应付款项：指甲方根据本协议的规定应向乙方支付的款项，包括但不限于分期还款额、分期手续费（如有）、逾期罚息（如有）、违约金（如有）等。</p>
	<p class="indent">6.	银联代扣：指银联公司根据甲方的授权从甲方指定账户中扣划甲方应付款项，并直接划转至乙方指定还款账户的服务。根据银联代扣规则，银联公司有权在约定时间（包括但不限于到期还款日、逾期）或甲方主动在客户端触发签约借记卡（即甲方指定账户）还款后从甲方设置的签约借记卡中扣取相应款项用于偿还分期业务账单欠款。银联代扣产生的手续费由【乙方】承担。</p>
	<p class="indent">7.	支付宝代扣：指支付宝根据甲方的授权从甲方指定账户中扣划甲方应付款项，并直接划转至乙方指定还款账户的服务。根据支付宝代扣规则，支付宝有权在约定时间（包括但不限于到期还款日、逾期）或甲方主动在支付宝客户端触发还款后从甲方指定账户中扣取相应款项用于偿还分期业务账单欠款。支付宝代扣产生的手续费由【乙方】承担。</p>
	<h2>二.	分期基本信息</h2>
	<table class="table">
		<tr>
			<td width="10" class="black">垫付款项：</td>
			<td width="80">${applyPeriod}个月房屋租金与服务费（如有），合计人民币${applyTotalAmt}元</td>
		</tr>
		<tr>
			<td width="10" class="black">分期期数：</td>
			<td width="80">${applyPeriod}期</td>
		</tr>
		<tr>
			<td width="10" class="black">分期还款额：</td>
			<td width="80">1个月房屋租金与服务费（如有），即人民币${applyamt}</td>
		</tr>
		<tr>
			<td width="10" class="black">还款日：</td>
			<td width="80">
				<p>${firstDueDate}为首期还款日，各期还款日依次按自然月顺推。</p>
				<p>例：2016年1月15日为首期还款日，则第二期还款日为2016年2月15日，第三期为2016年3月15日，以此类推。）</p>
				<p>（乙方将委托合作平台公司于各期还款日前30个自然日至当期还款日期间向甲方发出扣款通知，供甲方触发还款指令）</p>
			</td>
		</tr>
		<tr>
			<td width="10" class="black">分期手续费：</td>
			<td width="80">不向甲方收取任何分期手续费</td>
		</tr>
	</table>
	<h2>三.	合同的签署与生效</h2>
	<p class="indent">1.	甲方通过合作平台提交分期服务申请资料并确认点击 “同意申请分期服务”的选项，即视为甲方确认签署本协议。甲方应通过合作平台提出分期服务申请并按照乙方的要求提交资料，供乙方审核。</p>
	<p class="indent">2.	本协议自甲方的分期服务申请经乙方审核通过后生效。乙方有权自行、委托第三方、要求合作平台对甲方的融资需求、资信情况、履约能力及分期服务申请进行实质审核。经乙方审核通过后，乙方将根据本协议条款及条件向甲方提供分期服务，本协议自乙方审核通过后生效。经乙方审核不通过的，本协议自始不生效。</p>
	<p class="indent">3.	分期服务申请审核期间，如价格变动及其他非乙方原因导致乙方无法按本协议约定代甲方支付该等商品/服务价款的情况，或者甲方的分期服务申请未通过乙方审核的，乙方有权拒绝为甲方提供分期服务，本协议不生效。若本协议未生效的 ，乙方在任何情况下均不受本协议项下任何条款或条件的约束，无需履行任何垫付义务或分期服务。</p>
	<h2>四.	放款</h2>
	<p class="indent">1.	本协议项下的放款方式为，审批通过后，乙方直接向相关公司划转本协议项下垫付款项。乙方向相关公司划转本协议项下全部垫付款项的，即视为乙方已履行完毕其在本协议项下的放款义务。</p>
	<h2>五.	还款</h2>
	<p class="indent">1.	双方同意，本协议项下还款采用甲方主动还款、银联代扣或支付宝代扣的方式进行。乙方将委托合作平台公司于各期还款日前30个自然日至当期还款日期间向甲方发出还款及扣款通知，甲方在还款日前的30个工作日到还款日可以选择通过支付宝或银联代扣主动还款。如果甲方在还款日前的30个工作日到还款日内没有主动通过支付宝或银联代扣还款，则默认甲方选择使用银联代扣的方式还款。</p>
	<p class="indent">2.	甲方在此不可撤销地授权银联公司或支付宝在约定时间（包括但不限于还款日、逾期）或甲方主动在客户端触发还款后自动扣划甲方指定账户中与当月应付款项等额资金（包括但不限于每月还款额）并直接划转至乙方指定还款账户，该等扣划无需取得甲方的另行同意。</p>
	<p class="indent">3.	乙方有权自主制定并实施新的还款规则，具体规则以届时乙方在合作平台上发布的公告为准。</p>
	<h2>六.	逾期</h2>
	<p class="indent">1.	甲方指定账户存在下述情形时将导致银联代扣或支付宝代扣失败，因此造成的逾期责任应由甲方自行承担：</p>
	<p class="paddingLeft4">1)	甲方指定账户于还款日余额不足；</p>
	<p class="paddingLeft4">2)	甲方指定账户于还款日发生销户、冻结、查封、授权取消等情形；</p>
	<p class="paddingLeft4">3)	银联公司/支付宝未于还款日对甲方指定账户执行代扣指令的；</p>
	<p class="paddingLeft4">4)	甲方指定账户信息发生变更而未及时书面通知乙方，或甲方提供的其他身份信息、联系方式有误或未及时更新；</p>
	<p class="paddingLeft4">5)	其他因甲方原因造成的银联/支付宝代扣失败的情形。</p>
	<p class="indent">2.	甲方自逾期之日起，应按日向乙方支付逾期未偿款项的千分之五的逾期罚息，直至应付款项全部清偿之日。逾期罚息=当期应还本金*5‰*逾期天数。</p>
	<p class="indent">3.	甲方在此不可撤销地授权银联公司于甲方逾期后，银联公司有权冻结甲方其他银联银行卡相当于逾期部分的款项，自甲方配合乙方完成还款及其附随义务后予以解冻。该等冻结无需取得甲方的另行同意。</p>
	<h2>七.	提前终止</h2>
	<p class="indent">若租赁合同出现提前终止、被解除、被撤销等情形的，本协议提前终止。</p>
	<h2>八.	债权债务转让</h2>
	<p class="indent">1.	未经乙方事先书面同意，甲方不得向任何第三方转让其在本协议项下全部或部分权利或义务。</p>
	<p class="indent">2.	乙方有权将其在本协议项下对甲方享有的债权全部或部分转让、出质或采取其他方式处置给任何第三方，而无需取得甲方的事先书面同意或另行书面通知。甲方应对此给予全面配合和积极协助。</p>
	<p class="black indent">甲方在此不可撤销及变更地认可乙方有完全的权利根据自己的意愿采取转让、出质等方式处置其债权，甲方完全认可乙方采取的任何处置行为，不会以未取得甲方事先同意或未事先通知甲方而提出任何异议或以此为抗辩理由。</p>
	<h2>九.	陈述与保证</h2>
	<p class="indent">1.	甲方在此承诺并保证：</p>
	<p class="paddingLeft4">1)	甲方系年满18周岁的中华人民共和国（为本协议之目的，不包括香港特别行政区、澳门特别行政区和台湾地区）公民，具有完全民事权利能力与民事行为能力，具有签订和履行本协议的资格和能力，甲方可以独立地作为一方诉讼主体；</p>
	<p class="paddingLeft4">2)	甲方向乙方提供的所有信息和资料真实、准确、完整且是最新的，不存在任何虚假记载、误导性陈述或重大遗漏；</p>
	<p class="paddingLeft4">3)	甲方在本协议项下提供的任何信息发生变更的（包括但不限于，联系方式或地址变更、指定账户发生销户、更换、冻结、查封等情形），甲方应于该等变更发生后的第二日且不晚于当月还款日书面通知乙方，否则银联/支付宝代扣失败而导致甲方逾期的责任由甲方自行承担；</p>
	<p class="paddingLeft4">4)	甲方发生任何影响或者可能影响经济状况、信用状况、还款能力的事由，甲方应于前述变更发生之日起两（2）个工作日内通知乙方；</p>
	<p class="paddingLeft4">5)	甲方承诺其将按照本协议的约定按时足额向乙方归还垫付款项，并承诺按照本协议约定的还款方式进行还款，否则由此引起的法律后果及违约责任由甲方自行承担；</p>
	<p class="paddingLeft4">6)	甲方承诺不会利用合作平台或乙方进行洗钱、非法集资或其他不正当交易行为。</p>
	<p class="paddingLeft4">7)	甲方与合作平台公司或出租人、转租权人因租赁合同的履行所产生的履约纠纷或款项争议与乙方无涉，甲方不得因该等争议或纠纷拒绝或延迟履行其在本协议项下的还款义务。租赁合同提前终止、解除或被撤销的，甲方无权要求乙方退还甲方已支付的垫付款项或手续费（如有）。</p>
	<p class="indent">2.	甲方在此不可撤销地授权乙方：</p>
	<p class="paddingLeft4">1)	为信用评估、数据处理、风险控制、逾期账款催收等任何目的从任何数据库（包括不限于中国人民银行个人信用信息基础数据库）查询甲方的个人信息、资产及个人征信等情况，或者向上述系统报送其个人信息；</p>
	<p class="paddingLeft4">2)	出于本协议下分期服务之需要，通过其他国内关联公司、业务合作伙伴及其他合法的来源查询、获取并使用甲方的个人相关信息（包括但不限于身份信息包括照片、电话信息、银行卡信息、社会保险及公积金相关信息等）；</p>
	<p class="paddingLeft4">3)	出于本协议下分期服务之需要（包括但不限于分期服务申请的处理、各阶段的还款管理、权利的保护及执行等），提供甲方的个人信息和相关分期信息给乙方关联公司，以及与乙方开展金融业务的合作伙伴；</p>
	<p class="paddingLeft4">4)	无论本协议下分期服务申请是否通过，同意乙方有权根据相关规定妥善保存并在上述授权的范围内使用甲方的个人信息、个人征信信息以及所提供的相关文件；</p>
	<p class="paddingLeft4">5)	依据法律法规规定在必要情况下有权将甲方逾期付款情况及个人信息向相关第三方披露，由此产生的甲方不良信用记录或不利影响及后果由甲方自行承担。</p>
	<h2>十.	保密</h2>
	<p class="indent">1.	双方承诺将对本协议的存在、根据本协议获取的信息及本协议中所有安排、条款和信息予以保密，不得用于本协议约定之外的目的，不得向任何第三方披露或以其他方式予以公开，但法律或行政法规要求或有关监管机构要求其承担披露义务的除外。</p>
	<p class="indent">2.	本条包含的保密义务不因本协议的终止、到期、无效、撤销或解除而失效。</p>
	<h2>十一.	违约责任</h2>
	<p class="indent">1.	双方同意，如果一方违反其在本协议下承诺、保证或义务，致使其他方遭受损失的，违约方须向遭受损失方赔偿其因此产生的全部损失。</p>
	<p class="indent">2.	甲方发生以下一项或几项情形时，视为甲方严重违约：</p>
	<p class="paddingLeft4">1)	甲方未根据本协议的约定在还款日前（含还款日当日）按时足额偿还应还款项；</p>
	<p class="paddingLeft4">2)	甲方违反其在本协议中所做的任何承诺、保证或义务的；</p>
	<p class="paddingLeft4">3)	甲方的任何财产遭受没收、征用、查封、扣押、冻结等可能影响其履行能力的不利事件，且未及时对乙方进行书面通知或不能及时提供有效补救措施；</p>
	<p class="paddingLeft4">4)	甲方的财务状况出现影响其履行能力的不利变化，且未及时对乙方进行书面通知或不能及时提供有效补救措施的；</p>
	<p class="paddingLeft4">5)	甲方被宣告失踪、处于限制民事行为能力或丧失民事行为能力状态、被刑事监禁、或发生重大疾病、重大事故等可能影响其偿付能力的情况；</p>
	<p class="paddingLeft4">6)	甲方卷入或即将卷入重大诉讼、仲裁程序及其他法律纠纷，可能影响甲方的偿付能力的；</p>
	<p class="paddingLeft4">7)	甲方转移资产以规避债务的；</p>
	<p class="paddingLeft4">8)	甲方与乙方存在其他分期服务协议的，甲方未履行其在其他分期服务协议项下对乙方负有的到期债务的；</p>
	<p class="paddingLeft4">9)	甲方的资信情况或清偿能力发生其他重大不利变化的；</p>
	<p class="paddingLeft4">10)	甲方存在欺诈行为的。</p>
	<p class="indent">3.	甲方发生或可能发生本协议第11.2条约定的严重违约情形时，乙方有权采取以下一项或几项救济措施：</p>
	<p class="paddingLeft4">1)	要求甲方限期纠正违约行为；</p>
	<p class="paddingLeft4">2)	宣布本协议项下全部未偿还的款项提前到期，并要求甲方提前清偿；</p>
	<p class="paddingLeft4">3)	要求银联公司/支付宝协助从甲方指定账户资金中扣划全部或部分应付款项；</p>
	<p class="paddingLeft4">4)	以合法手段追偿应付款项（包括但不限于委托律师事务所等其他第三方机构代为追讨，申请相关部门进行调查、向法院提起诉讼等），由此引起的一切费用（包括但不限于公证费、诉讼费、财产保全费、执行费、仲裁费、律师费等）应由甲方承担；</p>
	<p class="paddingLeft4">5)	解除本协议并要求损害赔偿；</p>
	<p class="paddingLeft4">6)	采取法律、法规以及本协议约定的其他救济措施。</p>
	<h2>十二.	免责条款</h2>
	<p class="indent">1.	乙方出现下列任一状况而无法正常运作，致使无法向甲方提供本协议项下的各项服务，乙方不承担任何违约或赔偿责任，该状况包括但不限于：</p>
	<p class="paddingLeft4">1)	系统维护期间；</p>
	<p class="paddingLeft4">2)	电信设备出现故障不能进行数据传输；</p>
	<p class="paddingLeft4">3)	因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务；</p>
	<p class="paddingLeft4">4)	由于黑客攻击、电信部门和其他乙方有信息技术依赖的相关部门、企事业单位技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</p>
	<p class="indent">2.	本协议有效期内，因国家相关主管部门颁布、变更的法令、政策导致乙方不能提供约定服务的，不视为其违约，甲乙双方可根据相关的法令、政策变更合同内容或提前终止本协议，在此情况下，甲方已经享受服务而尚未到期或偿还的任何款项（包括服务费和其他费用）视为立即到期，甲方应立即归还，否则乙方仍有权按照本协议的约定采取合理的救济措施。 </p>
	<p class="indent">3.	乙方有权根据风险及自身业务运营情况需要中止（终止）向甲方提供服务，因此导致甲方无法使用服务或服务受到限制的，不视为乙方违约，在此情况下，甲方已经使用服务而尚未到期或偿还的任何款项（包括服务费和其他费用），视为立即到期，甲方应立即归还。</p>
	<h2>十三.	通知</h2>
	<p class="indent">本协议履行期内，乙方向甲方发出的书面通知方式包括但不限于邮寄纸质通知、发送电子邮件、手机短信或传真等。若以邮寄方式发出书面通知的，则该等通知按照甲方在本协议页首注明的地址或甲方另行通知的地址交邮后的第三个自然日即视为送达。若以电子邮件、手机短信和传真等电子方式发出书面通知的，则在通知发送成功即视为送达。</p>
	<h2>十四.	法律的适用和争议的解决</h2>
	<p class="indent">1.	本协议的全部事项，包括但不限于本协议的效力、解释、履行以及争议的解决均适用中国法律。</p>
	<p class="indent">2.	因本协议的签订或履行而引起的相关争议，双方应当通过友好协商解决。在一方书面要求协商后三十（30）日内仍不能解决的，任何一方均有权就该等争议事项向乙方所在地有管辖权的人民法院提起诉讼。</p>
	<h2>十五.	其他</h2>
	<p class="indent">1.	双方通过网络页面点击确认或以乙方认可的其他方式确认签署本协议。本协议自双方根据前述规则确认签署后成立。</p>
	<p class="indent">2.	本协议自乙方审核通过后生效。</p>
	<p class="black indent">3.	为本协议下交易之便捷高效，乙方有权随时单方面修改本协议，并以书面形式进行公告或通知（包括但不限于网站公告、向甲方发送电子邮件等），而无需另行征得甲方的事先同意。经修订的合同一经通知，立即自动生效。甲方在本协议变更后继续使用本协议项下的分期服务的，即视为甲方已充分阅读、理解并接受变更修改后的协议内容，也将遵循变更修改后的协议内容使用本协议项下的分期服务；若甲方不同意变更修改后的协议内容，应立即停止使用分期服务并书面通知乙方，并在乙方要求的期限内支付全部应付款项。</p>
	<p class="indent">4.	双方因履行本协议所产生的相关税费，由双方自行向主管税务机关申报、缴纳，但如果相关税收法律法规规定其他各方有代扣代缴义务，则其他方有权直接代扣代缴并向该方提供纳税凭证。</p>
	<p class="indent">5.	如本协议中的任何条款与中国法律强制性规定冲突，则该条款无效，但该无效条款不影响本协议其他条款的效力。</p>
	<p class="indent">6.	聚泛分期平台启用上海市数字证书认证中心服务（“SHECA数字证书”），双方同意就SHECA数字证书的申请与使用作出约定如下：</p>
	<p class="paddingLeft4">a)	SHECA数字证书系由上海市数字证书认证中心有限公司（“SHECA”）作为国家有关管理机关审批设立的电子认证服务机构对包含公开密钥拥有者信息、公开密钥等在内的一些信息进行签名后形成的一个电子文件，是符合《电子签名法》规定的电子签名认证证书。</p>
	<p class="paddingLeft4">b)	甲方在此同意并不可撤销地授权并委托乙方为聚泛平台电子签名之目的为其申请SHECA数字证书，并授权乙方在聚泛平台上对甲方确认签署的电子合同上使用甲方的SHECA数字证书。</p>
	<p class="paddingLeft4">c)	经乙方在授权范围内使用甲方的SHECA数字证书签署的电子合同，与甲方的手写签章具有同等法律效力，对甲方具有不可撤销的法律约束力。乙方在前述授权范围内申请、使用甲方的SHECA数字证书的行为之法律后果由甲方自行承担。甲方不得以未实际签署纸质合同为由、或未实际操作数字证书等理由，否认该等电子合同的法律效力。</p>
	<p class="paddingLeft4">d)	为前述SHECA数字证书申请之目的，甲方同意按照SHECA及乙方的要求及时提交相关材料。乙方承诺对该等材料履行严格保密义务，且仅为SHECA数字证书之申请而使用，不会用于任何其他目的。</p>
	<p class="paddingLeft4">e)	乙方承诺仅可在本协议约定的授权范围内申请、使用甲方的SHECA数字证书；否则，乙方需对不当使用该等数字证书而对甲方造成的损失承担法律责任。</p>
	<p class="paddingLeft4">f)	就SHECA数字证书的申请、使用、维护及授权，详见《SHECA数字证书服务协议》。</p>
	<p class="black paddingLeft4">请甲方仔细阅读《SHECA数字证书服务协议》，甲方一经签署本协议，即视为已经充分理解并完全接受《SHECA数字证书服务协议》的全部条款及条件，并接受相关方对前述文本的修订。</p>
	<p class="indent">7.	本协议由乙方保留存档。</p>
	<br></br>
	<p class="indent">甲方已阅读本协议全部条款及条件，充分了解并清楚知晓本协议的相关信息，认同并确认银联公司/支付宝根据甲方的授权从甲方指定账户中扣划甲方应付款项，并直接划转至乙方指定还款账户的服务。</p>
	<br></br>
	<p class="indent">甲方：以数据电文形式签署本协议</p>
	<p class="indent">乙方：上海聚泛信息科技有限公司（签章）</p>
	<p class="indent">法定代表人或授权代表：</p>

	<div style="${showAppendix}">
	<br></br>
	<h1>附录：蘑菇宝申请资料</h1>
	<h2>实名认证信息</h2>
	<p><label class="md">申请人姓名</label>：${applicant}</p>
	<p><label class="md">申请人身份证号码</label>：${certno}</p>
	<p><label class="md">银行卡开户行</label>：${debitbank}</p>
	<p><label class="md">银行卡卡号</label>：${debitcard}</p>
	<p><label class="md">银行卡预留手机号码</label>：${debitMobile}</p>

	<h2>照片认证信息</h2>
	<p><label class="md" style="width: auto">身份证正反面</label>：
		<span class="img-wrapper img-list-wrapper">${idPhoto}</span>
	</p>
	<p><label class="md" style="width: auto">手持身份证及租赁合同签约双方合照</label>：
		<span class="img-wrapper img-list-wrapper">${mogoBaoIdPhoto}</span>
	</p>

	<h2>身份信息</h2>
	<p><label class="md">紧急联系人</label>：${emergencyname}</p>
	<p><label class="md">紧急联系人手机</label>：${emergencymobile}</p>
	<p><label class="md">单位名称</label>：${companyname}</p>
	<p><label class="md">单位电话</label>：${companytel}</p>
	<p><label class="md">单位详细地址</label>：${companyaddress}</p>
	<p><label class="md">最高学历</label>：${highestlevel}</p>
	<p><label class="md">婚姻状况</label>：${married}</p>
	<p><label class="md">电子邮箱</label>：${email}</p>
	<p><label class="md">所属行业</label>：${industry}</p>
	<p><label class="md">月收入</label>：${income}</p>
	<p><label class="md">职位</label>：${position}</p>
	</div>
	<br></br>
	<br></br>
	<br></br>
</body>
</html>
