<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<import resource="classpath:spring-conf.xml" />
	<context:component-scan base-package="com.enjoy.mobi.videocommunity" />
	<mvc:annotation-driven />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
		
		
	<mvc:resources mapping="/css/**" location="/css/"/>
	<mvc:resources mapping="/datePicker/**" location="/datePicker/"/>
	<mvc:resources mapping="/editor/**" location="/editor/"/>
	<mvc:resources mapping="/img/**" location="/img/"/>
	<mvc:resources mapping="/js/**" location="/js/"/>
	<mvc:resources mapping="/attached/**" location="/attached/"/>
	<mvc:resources mapping="/uploadFile/**" location="/uploadFile/"/>
	
	<bean id="multipartResolver" class="com.enjoy.mobi.videocommunity.util.MultipartResolverProxy">
		<!-- 设置上传文件的最大尺寸为40MB -->
		<property name="maxUploadSize">
			<value>400000000</value>
		</property>
		<property name="maxInMemorySize">
			<value>1</value>
		</property>
		<property name="defaultEncoding" value="UTF-16LE" />
	</bean>
</beans>
