<!DOCTYPE html>
<html>
<head>
	<title>居住房屋租赁合同（自营）</title>
	<meta charset="UTF-8"></meta>
	<meta name="format-detection" content="telephone=no"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.5, minimum-scale=1.0, user-scalable=yes"></meta>
<style>
body{
	font-size:12px;
	font-family:microsoft yahei, trebuchet ms, tahoma, sans-serif;
	margin:0 6px;
	color:#333;
}

.hp{ 
	overflow:hidden;
}
h1{
	text-align:center;
	font-size:1.8em;
	margin:1.5em 0 .8em;
}
h2,h3{
	font-size:1.17em;
	margin:1em 0 .35em;
}
h1,h2,h3{
	color:#000;
}
p{
	margin:2px 0;
	line-height:1.5em;
	text-align:justify;
}
img{
	display:inline-block;
	max-width:100%;
}
p label{
	float:left;
	display:inline-block;
	width:50px;
}
.img-wrapper{
	margin-left:60px;
	display:block;
}
.img-list-wrapper{
	overflow:hidden;
}
.img-list-wrapper img{
	width:100px;
	float:left;
	display:inline-block;
}
.img-list-wrapper img + img{
	margin-left:5px;
}
.fl{
	float:left;
}
label.lg{
	width:135px;
}
.banner{
	margin:8px 0;
}
.title-terms{
	font-size: 1.5em;
    margin: 2em 0 .8em;
}
.remarks{
	margin:10px 0;
}
.remarks strong{
	font-size:1.2em;
}
table{
	border-collapse:collapse;
	width:100%;
	margin-top:10px;
	margin-bottom:4px;
}
table td{
	border-top:1px dashed #ddd;
	border-bottom:1px dashed #ddd;
}
table th,
table td{
	line-height:22px;
	text-align:left;
	width:25%;
}
</style>	
</head>
<body>
	<h1>居住房屋租赁合同（自营）</h1>
	<div class="banner">
		<p>甲方（出租人）：${landlordName}</p>
		<p>乙方（承租人）：${renterRealName}</p>
	</div>
	<p>根据《中华人民共和国合同法》等有关法律、法规的规定，甲、乙双方在平等、自愿、公平和诚实信用的基础上，经协商一致，就乙方承租甲方可依法出租的房屋事宜，订立本合同。</p>
	
	<h2>租金及支付方式</h2>
	<p><label class="lg">租赁起止日期</label>：${startAndEndTime}</p>
	<p><label class="lg">租赁期限</label>：${leaseTerm} </p>
	<p><label class="lg">租金付款方式</label>：${rentPayType}</p>
	<p><label class="lg">每月租金金额</label>：${money}元</p>
	<p><label class="lg">人民币（大写）</label>：${moneyRMB}</p>
	<p><label class="lg">押金金额</label>：${depositMoney}元（${depositListStr}）</p>
	<p><label class="lg">人民币（大写）</label>：${depositMoneyRMB}</p>
	<p><label class="lg">首期款</label>：${firstTermAmount}元（${firstListStr}）</p> 
	<p><label class="lg">人民币（大写）</label>：${firstTermAmountRMB}</p> 
	<p><label class="lg">每期租金金额</label>：${rentMoney}</p>
	<p><label class="lg">人民币（大写）</label>：${rentMoneyRMB}</p>
	
	<h2>租客身份信息</h2>
	<p><label>姓名</label>：${realName}</p>
	<p><label>性别</label>：${sex}</p>
	<p><label>联系电话</label>：${cellphone}</p>
	<p><label>证件类型</label>：${cardType}</p>
	<p><label>证件号码</label>：${cardId}</p>
	<p class="hp"><label>证件照片</label><span class="fl">：</span><span class="img-wrapper img-list-wrapper">${idPhoto}</span></p>
	
	<h2 class="title-terms">条款内容</h2>
	
	<h3>第一条 房屋基本情况</h3>
	<p>（一）房屋坐落：<u>&nbsp;&nbsp;${roomInfo}&nbsp;&nbsp;</u></p>
	<p>（二）房屋使用面积为<u>&nbsp;&nbsp;${area}&nbsp;&nbsp;</u>平方米。</p>
	<p>（三）租赁期间，乙方可使用的该房屋公用或合用部位的使用范围，承租房屋现有的装修、附属设施、设备状况以及需约定的有关事项，由甲、乙双方在房屋交接日分别在“蘑菇租房”平台系统进行确认后，生成<b>《家具家电清单》，</b>该清单将作为甲方交付该房屋和本合同终止时乙方返还该房屋的验收依据。</p>
	<p>（四）甲方已取得该承租房屋的转租权，乙方对此已知晓并无任何异议。</p>
	
	<h3>第二条 房屋租赁情况及住宿登记</h3>
	<p>租赁用途：<u> 居住 </u>；入住人数：<b>限入住<u><span> 1 </span></u>人</b>，甲乙双方应按照相关法律、法规的规定，办理房屋出租登记手续。乙方为外地来沪人员，应按相关法律、法规的规定办理房屋住宿登记手续，<b>相应的费用由乙方自行承担。</b></p>
	<p>
		<b>住宿登记：若乙方为外籍人士或港澳台人士的，则乙方应在本合同签订后的<span>1</span>天（<span>24</span>小时）内进行住宿登记。</b> 
	</p>
	
	<h3>第三条 租赁期限及租金支付日期</h3> 
	<p>
		（一）乙方使用${payTypeText}（即在租赁期限内分${totalTerm}期支付房租，每一期时长为${payInterval}个月。第一期支付金额总计${firstTermAmount}元，其中包含租金${firstRentAmount}元、押金${depositMoney}元、其他费用${firstOtherMoney}元，余后每期支付租金${rentMoney}元）付款方式付款的，各期支付租金日期：当期租金到期日前<span>${payPreDays}</span>日至当期租金到期日。截止至当期租金到期日乙方仍未支付租金的，每逾期一日，乙方应承担每日应付未付租金<span>1%</span>的逾期违约金。<b></b>
	</p>
	<p>
		（二） 乙方选择使用蘑菇宝付款方式付款的，甲方有权对乙方的偿还或支付情况进行监督。如乙方未按约定偿还或者支付款项，甲方有权协助第三方机构追究乙方的法律责任。<span class="MsoCommentReference"><span>&nbsp;</span></span> 
	</p>
	<p>
		（三）租赁保证金：租赁期满或合同解除后，房屋租赁押金除抵扣应由乙方承担的费用、租金，以及乙方应当承担的违约赔偿责任外，剩余部分（如有）应无息退还给乙方。 
	</p>
	
	<h3>第四条 其他相关费用</h3>
	<p>（一）租赁期限内的下列费用中：</p>
	<p>甲方承担的费用为：物业管理费、室内设施维修费（人为使用不当的应由乙方承担的除外）、公共区域保洁费（每月二次公共区域保洁）。</p>
	<p>乙方承担的费用为：水费（按该套房屋内实际出租房屋间数均摊）、电费（按该套房屋内实际出租房屋间数均摊）、燃气费（按该套房屋内实际出租房屋间数均摊）。</p>
	<p>（二）除上述约定的情形外，本合同中未列明的因租赁使用该房屋而产生的有关费用，均由乙方承担，如甲方垫付了应由乙方支付的费用，甲方有权根据相关缴费凭据要求乙方予以返还。 </p>
	<p>（三）上述约定由乙方承担的生活费用，如果存在同一房屋内和其他承租方共同产生的，则按照每个房间平均分摊的原则承担。  </p>

	<h3>第五条 房屋维护与维修</h3>
	<p>（一）房屋租赁期间，乙方应遵守国家法律法规、市区级管理规定及该房屋所在小区的物业管理规范，乙方严禁在房屋内摆放易燃、易爆、剧毒等危险、违禁物品，或持有法律、法规禁止的各类物品。</p>
	<p>（二）租赁期限内，甲方承担房屋及附属物品、设备设施因老化产生的维护、维修事宜（不含乙方自带物品，设备设施，甲方有权根据房屋及附属物品、设备设施的实际情况设定维修方案，具体方案以甲方和实际维修商共同出具的房屋维修<span>/</span>鉴定方案表为准）；乙方承担房屋及附属物品、设备设施因使用不当或人为造成的维护、维修事宜等费用。如维护维修项目不在前述范围之内，应依据谁导致谁承担的原则，由甲乙双方另行协商解决。 
	</p>
	<p>
		（三）租赁期限内，甲乙双方应共同保障租赁房屋及其附属物品、设备设施处于适用和安全的状态。乙方应维护租赁房屋既有的设备和设施的正常使用，如需调整的，应事先征得甲方的书面同意，因乙方保管不当或不合理使用，致使该房屋及附属物品、设备设施发生损坏、故障或丢失的（包括公共区域内的设备设施），乙方应负责维修、承担维修费用或承担相应赔偿责任（维修范围内无法界定的共用设施维修责任由共用设施的全体承租人共同承担），甲方有权从押金中扣除前述相关费用，不足部分由乙方承担赔偿责任，若甲方在押金中扣除的费用的，乙方应在甲方扣除后五个工作日内将押金补足。 
	</p>
	<p>
		（四）租赁期限内，由乙方不合理使用租赁房屋或附属设施、设备导致自身损害或致第三方受损的，产生的一切责任由乙方自行承担，与甲方无关。若致第三方受损，第三方要求甲方承担责任，甲方由此产生损失的，甲方可向乙方追偿，并可直接先从押金中扣除。 
	</p>
	
	<h3>第六条 双方的其他权利义务</h3>
	<p>（一）甲方提供如下服务：</p>
	<p>1. 公共区域定期上门保洁；</p>
	<p>2. 网络宽带无线 WI-FI；</p>
	<p>3. 屋内设备设施上门维修；</p>
	<p>4. 客服在线；</p>
	<p>5. 线上选房线下看房免中介费；</p>
	<p>6. 在线交租金服务；</p>
	<p>7. 房屋物业管理费。</p>
	<p>
		（二）甲方有权对乙方提供的所有证件和个人资料进行审查并保存复印件。甲方承诺，乙方提供的复印件仅供本次租赁使用；未经乙方书面同意，不会作为他用。乙方应按照甲方要求提供本人身份证原件、工作单位证明文件以及其他相关文件、联系方式、电子邮件（<span>E-mail)</span>等资料，但不限于以上，且乙方保证其所提供的个人资料真实、合法、有效。如乙方未按要求提供相关证明文件、提供的文件有虚假，甲方可随时要求解除本租赁合同及相关补充协议，并要求乙方承担相当于一个月租金的违约金。乙方信息如发生变更的，乙方应立即以书面形式通知甲方，如因乙方未能及时通知导致的任何损失，责任由乙方自行承担。 
	</p>
	<p>
		（三）甲方的房屋管理权：甲方有权对租赁房屋进行不定期公共区域检验及保洁工作。 
	</p>
	<p>
		<b>（四）甲方有权将代缴的水电费金额以短信及“蘑菇租房<span>”</span>系统推送形式发送至乙方，乙方须在收到上述信息后<span>7</span>日内完成支付。</b> 
	</p>
	<p>
		（五）乙方应按照合同付款规定，按时足额向甲方支付房屋租金。<b>在任何情况下，乙方不得以任何理由以押金冲抵房租。</b> 
	</p>
	
	<h3>第七条 合同变更</h3>
	<p>
		<b>（一）换租：</b>房屋租赁期限内，经甲乙双方协商一致，乙方可与甲方办理租赁房屋变更手续：1. 如<b>乙方搬至甲方“蘑菇租房”平台的其他房源，</b>手续费计算方式为：<b>原承租房屋月租金<span>X100%</span>。</b>2. 如<b>乙方搬至甲方“蘑菇租房”平台的“蘑菇公寓”房源，</b>手续费计算方式为：<b>原承租房屋月租金<span>X50%</span>（如乙方找到符合蘑菇公寓要求的新租客承租原房屋，新租客的起租日期为乙方搬离原房屋日期的第二日，新租客的租赁期限为一年，新租客的租金价格为蘑菇公寓在甲方网站（www.mogoroom.com）公示的最新价格（最低不得低于原租金的<span>110%</span>）为准，则乙方的手续费计算方式为：人民币<span>300</span>元整）。</b>办理合同变更的，甲乙双方结清各项费用后，甲方应退还乙方押金、未发生的租金。未发生租金计算方式：日租金（即月租金标准<span>/</span>当月自然天数）<span>X</span>未发生天数。（新租客：从未与我司签订过《租赁合同》的客户） 
	</p>
	<p>
		（二）退租：房屋租赁期限内，经甲乙双方协商一致，乙方可与甲方办理租赁房屋终止手续：并由乙方向甲方支付相应手续费。手续费计算方式为：<b>原居住房屋月租金<span>X</span>100%。（如乙方找到符合蘑菇公寓要求的租客承租原房屋，新租客的起租日期为乙方搬离原房屋日期的第二天起，新租客的租赁期限为一年，新租客的租金价格为蘑菇公寓实时价格的，则乙方的手续费计算方式为：人民币<span>600</span>元整）。</b>办理合同终止的，甲乙双方结清各项费用后，甲方应退还乙方未发生的租金，未发生租金计算方式：日租金（即月租金标准<span>/</span>当月自然天数）<span>X</span>未发生天数。 （新租客：从未与我司签订过《租赁合同》的客户）
	</p>
	<p>
		（三）房屋租赁期限届满乙方如继续承租的，<b>应于租赁期限届满前三十日内在“蘑菇租房”平台向甲方提出续租申请，</b>经甲乙双方协商一致后另行签署协议。如不续租，甲方在租赁期限届满前三十日内带人看房，乙方需给予配合。 
	</p>
	<p>
		（四）房屋租赁期限届满，甲方有权不与乙方续签租赁合同，乙方需给予配合。在租赁期限届满日前搬离房屋。
	</p>
	
	<h3>第八条 合同解除</h3>
	<p>
		（一）甲乙双方协商一致，可以解除本合同。 
	</p>
	<p>
		（二）因不可抗力、政府行为等原因导致本合同无法继续履行的，本合同自行解除，双方均不承担任何违约责任。 
	</p>
	<p>
		（三）甲方有下列情形之一的，乙方有权单方解除合同<span>:</span> 
	</p>
	<p>
		（<span>1</span>）延迟交付房屋达七日的； 
	</p>
	<p>
		（<span>2</span>）甲方未履行约定的维修义务，在乙方合理通知后仍不履行，致使乙方无法正常使用房屋且无法办理租赁房屋变更的。 
	</p>
	<p>
		（四）乙方有下列情形之一的，<b>甲方以系统推送形式有权单方解除合同，收回房屋。</b> 
	</p>
	<p>
		（<span>1</span>）未按照合同约定支付租金、押金、水电煤或者其他应付费用达叁（<span>3</span>）日的； 
	</p>
	<p>
		（<span>2</span>）使用蘑菇宝付款方式未按约定偿还或支付租金或者其他应付费用达叁（<span>3</span>）个工作日的；<span class="MsoCommentReference"><span>&nbsp;</span></span> 
	</p>
	<p>
		（<span>3</span>）未按照合同约定支付租金、押金或其他应付费用达当月租金额<span>15%</span>的； 
	</p>
	<p>
		（<span>4</span>）擅自将公共钥匙交付或配给非居住人员的； 
	</p>
	<p>
		（<span>5</span>）擅自将房屋转租给第三人，或者未经甲方同意将房屋许可他人使用的； 
	</p>
	<p>
		<b>（<span>6</span>）租住期间入住人数超过<span>1</span>人的（参考依据包括但不限于客户投诉或物业管理公司投诉等）；</b> 
	</p>
	<p>
		（<span>7</span>）承租人隐瞒、漏报、谎报自身传染性疾病或隐性疾病的； 
	</p>
	<p>
		<b>（<span>8</span>）饲养禽畜和宠物的；</b>  
	</p>
	<p>
		<b>（<span>9</span>）据不配合甲方带看或影响甲方出租其他房间的； </b>  
	</p>
	<p>
		（<span>10</span>）不按照物业或居住小区规定停放车辆；从楼梯、阳台、窗户等处抛掷垃圾或其他物品的；未及时将生活垃圾扔至垃圾桶内，影响他人正常生活的；举行派对，时间超过晚上<span>11</span>时的，有其他影响他人休息及正常生活行为的达二次（参考依据包括但不限于客户投诉或物业管理公司投诉等）； 
	</p>
	<p>
		（<span>11</span>）租住期间在屋内进行赌博、打架、嫖娼和吸毒等违法犯罪行为的； 
	</p>
	<p>
		（<span>12</span>）因扰民、卫生状况、邻里关系、分摊生活费用、过度占用公共区域等原因干扰影响他人或其正常生活，导致其他租客、周边邻居、居委会书面投诉或派出所出警协调的； 
	</p>
	<p>
		（<span>13</span>）租住期间在屋内进行赌博、打架、嫖娼和吸毒等违法犯罪行为的； 
	</p>
	<p>
		（<span>14</span>）租住期间在屋内随意堆放易燃、易爆、剧毒、带放射性的危险物品的；
	</p>
	<p>
		（<span>15</span>）擅自改变房屋用途、拆改变动或损害房屋主体结构的；利用租赁房屋从事经营活动、违法活动、损害公共利益的；
	</p>
	<p>
		（<span>16</span>）因承租人保管不当或不合理使用导致房屋附属物品、设备设施毁损并拒不赔偿的；
	</p>
	<p>
		（<span>17</span>）乙方怠于或拒绝配合甲方对房屋进行的维护维修，影响邻居或其他租客正常生活、使用房屋的；
	</p>
	<p>
		（<span>18</span>）拒绝依法在当地居委会、派出所做登记备案的，拒绝配合当地居委会上门抽查、采集人口信息的；
	</p>
	<p>
		（<span>19</span>）其他违反《租赁合同》及《蘑菇公寓租客管理公寓》的行为。
	</p>
	<p>
		（五）出现其他法定的合同解除情形或甲乙双方另有约定的，遵照法律约定或双方约定解除合同。在合同解除当日，乙方应依据《家具家电清单》，将租赁房屋及设施交还甲方，并清空乙方物品，如乙方存留任何物品，均视为乙方抛弃，甲方有权进行处置。合同期满，乙方将房屋交还甲方之时，应将房屋打扫干净。 
	</p>
	
	<h3>第九条 违约责任</h3>
	<p>
		（一）（<span>1</span>）甲方有本合同第八条【合同解除】（三）款约定的情形之一的，应按月租金<span>100%</span>向乙方支付违约金，并退还乙方已支付的押金； 
	</p>
	<p>
		（<span>2</span>）乙方有本合同第八条【合同解除】（四）款约定的情形之一的，应按月租金<span>100%</span>向甲方支付违约金，甲方有权从乙方已支付的押金中进行扣除，且乙方应将租赁房屋恢复原状并赔偿甲方因乙方的违约行为而遭受的相应损失。因乙方违反第八条【合同解除】（四）款规定，导致甲方被有关行政机关处罚的，甲方有权向乙方继续追偿。如乙方拒绝支付、未支付或甲方垫付了应由乙方支付的费用，甲方有权从押金中抵扣，不足部分由乙方承担。 
	</p>
	<p>
		（二）（<span>1</span>）租赁期限内，甲方需提前收回该房屋的，应提前通知乙方，并按月租金的<span>100%</span>向乙方支付违约金； 
	</p>
	<p>
		（<span>2</span>）租赁期限内，乙方需提前退租的，应提前通知甲方，并支付违约金（金额相当于该房月租金）。在结算应承担的各项费用后，甲方应退还乙方尚未发生的相应租金和押金。
	</p>
	<p>
		（三）乙方未按约定时间返还房屋的，每逾期壹日，应向甲方支付相当于日租金（即月租金标准<span>/30</span>）的<span>300%</span>的违约金，并赔偿甲方因此遭受的相应损失。 
	</p>
	
	<h3>第十条 合同争议的解决办法</h3>
	<p>本合同项下发生的争议，由各方当事人协商解决；协商不成的，各方当事人约定将争议提交甲方所在地人民法院解决。 </p>
	
	<h3>第十一条 其他约定的事项</h3>
	<p>（一）<b>本合同为电子合同，经乙方在本系统点击“确认”后生效。</b></p>
	<p>（二）合同生效后，双方对合同内容的变更或补充<b>应另行订立电子合同，</b>作为合同的附件。附件与合同具有同等的法律效力。 </p>
	
	<h2  class="title-terms">其它内容</h2>
	<p class="remarks"><strong>备注：<u>${contractRemark}</u></strong></p>
	
	<h3>房间家具清单:</h3>
	<div>${roomFurnitureList}</div>
	
	<h3>公共家具清单:</h3>
	<div>${flatsFurnitureList}</div>

</body>
</html>